body {
  font-family: "Poppins", sans-serif;
  background: #19161B;
}

@media screen and (max-width: 1050px) {
  .header__img {
    display: none;
  }
}
.title {
  font-family: "Playfair Display";
  font-weight: 700;
  font-size: 300%;
  line-height: 138%;
  color: #fff;
}

.button {
  font-family: "Poppins";
  font-weight: 500;
  background: #FFB577;
  color: #2E2D33;
  width: 164px;
  height: 48px;
}

.wrapper {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.navbar {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navbar__logo {
  padding-right: 50px;
}
.navbar__links-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}
.navbar__link {
  font-weight: 500;
  color: #fff;
}

.header {
  padding-top: 96px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__left {
  margin-top: 74px;
  padding-right: 30px;
  max-width: 624px;
}
.header__title {
  font-family: "Playfair Display";
  font-weight: 700;
  font-size: 350%;
  line-height: 135%;
  color: #fff;
}
.header__subtitle {
  color: #B8B8B8;
  line-height: 175%;
  margin-top: 1em;
}
.header__button {
  margin-top: 32px;
  margin-bottom: 24px;
}
.header__contacts-title {
  font-family: "Playfair Display";
  font-weight: 700;
  font-size: 130%;
  line-height: 150%;
  color: #fff;
  margin-top: 1em;
}
.header__contacts-content {
  color: #B8B8B8;
  line-height: 175%;
}

.caption {
  font-family: "Playfair Display";
  line-height: 150%;
  color: #FFB577;
}
.caption:after {
  content: url("../src/caption_line.svg");
  vertical-align: 15%;
  padding-left: 1em;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 160px;
}
.about__left {
  max-width: 624px;
}
.about__title {
  margin-top: 24px;
}
.about__subtitle {
  color: #B8B8B8;
  line-height: 175%;
  margin-top: 32px;
}
.about__counter-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 44px;
}
.about__counter {
  max-width: 187px;
}
.about__counter span {
  font-weight: 500;
  font-size: 150%;
  line-height: 150%;
  color: #C4E4EA;
}
.about__counter span::before {
  content: url("../src/counter__icon.svg");
  padding-right: 7px;
}
.about__counter p {
  color: #B8B8B8;
  line-height: 175%;
}
.about__button {
  margin-top: 32px;
}
.about #img-1 {
  margin-top: 88px;
  margin-right: 67px;
}

.serving {
  padding-top: 160px;
}
.serving__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.serving__title {
  max-width: 660px;
  margin-top: 24px;
}
.serving__subtitle {
  color: #B8B8B8;
  line-height: 175%;
  max-width: 549px;
}
.serving__content-box {
  background: rgba(0, 0, 0, 0.16);
  height: 686px;
  margin-top: 65px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}
.serving__content-column {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding-top: 64px;
  padding-left: 64px;
  border-right: 1px solid rgba(255, 255, 255, 0.06);
}
.serving #no-border {
  border-right: none;
}
.serving__content-row {
  padding-right: 16px;
}
.serving__content-row h3 {
  margin-top: 24px;
  font-family: "Playfair Display";
  font-weight: 700;
  font-size: 200%;
  line-height: 150%;
  color: #fff;
}
.serving__content-row p {
  color: #B8B8B8;
  line-height: 175%;
  margin-top: 12px;
  max-width: 299px;
}

.menu {
  padding-top: 160px;
}
.menu__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu__title {
  margin-top: 24px;
  max-width: 450px;
}
.menu__subtitle {
  color: #B8B8B8;
  line-height: 175%;
  max-width: 499px;
}
.menu__undertitle {
  display: inline-block;
  font-family: "Playfair Display";
  font-weight: 700;
  font-size: 88%;
  line-height: 150%;
  color: #C4E4EA;
  margin-top: 32px;
}
.menu__content-box {
  margin-top: 83px;
  min-height: 733px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.menu__item {
  width: 405px;
  height: 351px;
}
.menu__item-pricing {
  width: inherit;
  height: 80px;
  background: #1F1D21;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 32px;
}
.menu__item-name {
  font-family: "Playfair Display";
  font-weight: 700;
  font-size: 130%;
  line-height: 150%;
  color: #fff;
}
.menu__item-cost {
  color: #fff;
  font-size: 130%;
  font-weight: 500;
}
.menu__button {
  display: block;
  margin: 0 auto;
  margin-top: 40px;
}

.blog {
  padding-top: 160px;
}
.blog__content-box {
  margin-top: 64px;
  height: 526px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.blog__item {
  height: inherit;
  width: 405px;
}
.blog__item-top {
  width: 405px;
  height: 292px;
  padding-top: 32px;
  padding-left: 32px;
  background: #1F1D21;
}
.blog__date {
  font-size: 88%;
  color: #B8B8B8;
}
.blog__heading {
  font-family: "Playfair Display";
  font-weight: 700;
  font-size: 200%;
  line-height: 150%;
  color: #fff;
  margin-top: 8px;
}
.blog__desc {
  color: #B8B8B8;
  line-height: 175%;
  margin-top: 16px;
}

.contact {
  padding-top: 160px;
  min-height: 532px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.contact__left {
  background: #1F1D21;
  width: 441px;
  height: inherit;
  padding-left: 64px;
  padding-top: 80px;
  padding-bottom: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contact__item h4 {
  font-family: "Playfair Display";
  font-weight: 700;
  font-size: 130%;
  line-height: 150%;
  color: #fff;
  line-height: 150%;
}
.contact__item p {
  color: #B8B8B8;
  line-height: 175%;
  margin-top: 8px;
}
.contact__map {
  width: 100%;
  height: inherit;
}

.footer {
  padding-top: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__bottom {
  margin-top: 70px;
  height: 50px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}
.footer__bottom span {
  color: #B8B8B8;
}